.App {
	text-align: center;

	button {
		font-weight: bold;
	}
.bus-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150vw;
	height: 100vw;
	position:relative;
  } 
  .border{
	width: 43vw;
	height: 1.5vw;
	position:absolute;
	top: -12%;
	left:12%;
	border:5px solid black;
	border-top-right-radius: 20%;
	background-color: lightgrey;
  }
  .borderBottom{
	width: 46vw;
	height: 1vw;
	position:absolute;
	top: 2%;
	left:11%;
	border:2px solid black;
	background-color: yellow;
  }
  .wheel{
		width: 12vw;
		height: 12vW;
		background-color: black;
		border-radius: 50%;
		top : 4%;
		border: grey;
		position: absolute;
		animation: anim 2s linear infinite;
  		}
	.rim{
		width:8vw;
		height:8vw;
		border-radius:50%;
		top:50%;
		position:absolute;
		transform: translate(-50%,-50%);
		}
	@keyframes anim{
		0%{transform: rotate(0deg)}
		100%{transform: rotate(360deg)}
		}
	.driver{
		width:3vw;
		height:11vw;
		top:1%;
		left:11%;
		position:absolute;
	}
	.baby{
		width:7vw;
		height:8vw;
		top:50%;
		position: absolute;
		transform: translate(-50%,-50%);
	}
	.indicators {
		width: 3%;
		height: 14%;
		position: absolute;
		left: -3%;
	}
	.girl
	{
		width:8vw;
		height:9vw;
		top:23.5%;
		position:absolute;
	}
	// .window
	// {
	// 	width: 8vw;
	// 	height: 9vw;
	// 	background-color: lightgrey;
	// 	border: 10px solid #000;
	// 	position: absolute;
	// 	border-radius: 10px;
	// 	box-shadow: '0 0 10px rgba(0, 0, 0, 0.5)';
	// 	top: 8%;
	// 	margin: 10% auto,
	// }
	.busBackground{
		width: 150vw;
		height: 38vw;
		top: 30%;
		left:18%;
		position: absolute;
	}
	.wheelCover {
		background-color: aqua;
		width: 16vmin;
		height: 8vmin;
		border-top-left-radius: 16vmin;
		border-top-right-radius: 16vmin;
		bottom: 0%;
		position: absolute;
	}
	
	.outerWheel {
		background-color: black;
		height: 12vmin;
		width: 12vmin;
		border-radius: 50%;
		margin: 2vmin;
		position: absolute;
	}
	
	.innerWheel {
		background-color: lightgreen;
		height: 6vmin;
		width: 6vmin;
		border-radius: 50%;
		border: 6px dashed brown;
		animation: rotate 5s linear infinite;
		margin: calc(3vmin - 6px) auto;
	}
	// .background-image-example {
	// 	width: 100%;
	// 	height: 400px;
	// 	background-image: url('path/to/your/image.jpg');
	// 	background-size: cover; /* makes the image cover the entire div */
	// 	background-position: center; /* centers the image */
	// 	background-repeat: no-repeat; /* prevents the image from repeating */
	// }
	.environment {
		background-image: url('../public/images/busstop.jpg');
		background-size: contain;
	}
	.road {
		width: 100%;
		bottom: 0%;
		background-color: grey;
		position: absolute;
	}	
	.stripes {
		width: 10%;
		height: 5%;
		bottom: 50%;
		background-color: white;
		position: absolute;
	}
	.bus {
		position: absolute;
		border-top-right-radius: 25%;
		border-top-left-radius: 5%;
	}
.window {
	width: 14%;
	height: 23%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: red;
	position: absolute;
	top: 23%;
	border-radius: 10%;
	border: 3px solid saddlebrown;
}
.doors {
	width: 14%;
	height: 77%;
	background-color: black;
	position: absolute;
	right: 28%;
	bottom: 5%;
}
.doorFrame {
	width: 40%;
	height: 85%;
	background-color: lightgreen;
	position: absolute;
	border-radius: 5%;
	bottom: 6%;
}
.driver {
	width: 16%;
	height: 38%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 60%;
	top: 23%;
	border-radius: 10%;
	border: 3px solid saddlebrown;
}
@keyframes nextBusForward {
	0% {
		transform: translate(-350%);
	}

	100% {
		transform: translate(190%);
	}
}
@keyframes busForward {
	0% {
		transform: translate(-120%);
	}

	100% {
		transform: translate(400%);
	}
}

@keyframes busReverse {
	0% {
		transform: translate(100%) scaleX(-1);
	}

	100% {
		transform: translate(-450%)scaleX(-1);
	}
}

@keyframes nextBusForward {
	0% {
		transform: translate(-350%);
	}

	100% {
		transform: translate(190%);
	}
}

@keyframes nextBusReverse {
	0% {
		transform: translate(200%) scaleX(-1);
	}

	100% {
		transform: translate(-200%)scaleX(-1);
	}
}
}