.App {
	text-align: center;

	button {
		font-weight: bold;
	}
.bus-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150vw;
	height: 100vw;
	position:relative;
  }  
  .wheel{
		width: 12vw;
		height: 12vW;
		background-color: black;
		border-radius: 50%;
		top : 40%;
		border: grey;
		position: absolute;
		animation: anim 2s linear infinite;
  		}
	.rim{
		width:8vw;
		height:8vw;
		border-radius:50%;
		top:50%;
		position:absolute;
		transform: translate(-50%,-50%);
		}
	@keyframes anim{
		0%{transform: rotate(0deg)}
		100%{transform: rotate(360deg)}
		}
	}
	